body {
            margin: 0;
            background-color:black;
            color: rgb(152, 18, 18);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            text-align: center;
            margin: 20px 0;
        }

        .swiper {
            width: 90%;
            max-width: 900px;
            height: 500px;
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
        }

        .swiper-slide img {
            width: 100%;
            height: 100%;
         object-fit: cover;
}
    